{% extend 'base/base.html' %}
{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <div>
        <label for="id-password1">Current Password</label>
        <input id='id-password1' type="password" name="password1" placeholder="현재 비밀번호를 입력하세요">
    </div>
    <div>
        <label for="id-password2">New Password</label>
        <input id='id-password2' type="password" name="password2" placeholder="바꿀 비밀번호를 입력하세요">
    </div>
    <div>
        <label for="id-password3">New Password Check</label>
        <input id='id-password3' type="password" name="password2" placeholder="바꿀 비밀번호를 다시 입력하세요">
    </div>
    <button type="submit">비밀번호 변경</button>
</form>
</div>
{% endblock %}