{% extends 'common/base.html' %}
{% block content %}
{% load custom_tags %}
<div class="content">
    <h1>{{ cur_user }}</h1>
    {% if user != cur_user %}
    {% if cur_user in user.following %}
    <button type="submit" class="btn">팔로우 취소</button>
    {% else %}
    <button type="submit" class="btn">팔로우</button>
    {% endif %}
    {% endif %}

    <div>
        <h4>팔로워</h4>
        {% for followers in cur_user.followers %}
        <a href="{% url 'member:profile' user_pk=followers.pk %}" class="btn">
            {{ followers }}
        </a>
        {% endfor %}
    </div>

    <div>
        <h4>팔로잉</h4>
        {% for following in cur_user.following %}
        <a href="{% url 'member:profile' user_pk=following.pk %}" class="btn">
            {{ following }}

        </a>
        {% endfor %}
    </div>
    <div>
        {% for index in page %}
        {% for post in user_posts %}
        {% include 'include/post.html' %}
        {% endfor %}
        {% endfor %}
        <a href="{{ request.path }}?page={{ user_posts.previous_page_number }}" class="btn">이전</a>
        <a href="{{ request.path }}?page={{ user_posts.next_page_number }}" class="btn">다음</a>
    </div>
</div>
{% endblock %}