{% load static %}
<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/profile.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/layout.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/post.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/common.min.css' %}">
  <link rel=“shortcut icon” href=“data:image/x-icon;,” type=“image/x-icon”>

  <title>Hongstagram</title>
</head>
<body>
  {% if message %}
  <div class="message">
    {% for message in messages %}
    <div>{{ message }}</div>
    {% endfor %}
  </div>
  <div id="wrap">
    <header class="top-header">
      <nav>
        <div class="nav-left nav-item">
          <a href="{% url 'post_list' %}">
            <img src="{% static 'images/logo.png' %}" alt="">
          </a>
        </div>
        <div class="nav-center nav-item">
          <input type="text" placeholder="검색">
        </div>
        <div class="nav-right nav-item">
          <a href="">
            <img src="{% static 'images/icon_explore.png' %}" alt="">
          </a>
          <a href="#">
            <img src="{% static 'images/icon_heart.png' %}" alt="">
          </a>
          <a href="#">
            <img src="{% static 'images/icon_profile.png' %}" alt="">
          </a>
        </div>
      </nav>
      <nav>
        <div>
          <div>
            {% if user.is_authenticated %}
            <span>{{ user }}</span> 이 로그인 중입니다.
            <a href="{% url 'member:logout' %}" class="btn">로그아웃</a>
          </div>

          <div>
            {% else %}

            <div>
              <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit"><a href="{% url 'member:login' %}">로그인</a></button>
              </form>
            </div>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>


  </div>


  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</div>

</body>
</html>
